/*****************************************************************************
 * lsmashinput.rc
 *****************************************************************************
 * Copyright (C) 2012-2015 L-SMASH Works project
 *
 * Authors: Yusuke Nakamura <muken.the.vfrmaniac@gmail.com>
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *****************************************************************************/

/* This file is available under an ISC license.
 * However, when distributing its binary file, it will be under LGPL or GPL.
 * Don't distribute it if its license is GPL. */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/* Dialog resources */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
LWINPUT_CONFIG DIALOG 0, 0, 256, 338
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "L-SMASH Works File Reader settings"
FONT 10, "Tahoma"
{
    DEFPUSHBUTTON   "OK", IDOK, 56, 284, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 141, 284, 50, 14, 0, WS_EX_LEFT
    LTEXT           "threads", IDC_STATIC, 11, 23, 25, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_SPIN_THREADS, UPDOWN_CLASS, UDS_ARROWKEYS, 58, 21, 10, 12, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_THREADS, 38, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Forward threshold", IDC_STATIC, 78, 23, 61, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_FORWARD_THRESHOLD, 141, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_SPIN_FORWARD_THRESHOLD, UPDOWN_CLASS, UDS_ARROWKEYS, 161, 21, 10, 12, WS_EX_LEFT
    AUTOCHECKBOX    "Libav+L-SMASH", IDC_CHECK_LIBAVSMASH_INPUT, 11, 7, 64, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "AviSynth Script", IDC_CHECK_AVS_INPUT, 81, 7, 65, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "VSScript", IDC_CHECK_VPY_INPUT, 152, 7, 44, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "LW-Libav", IDC_CHECK_LIBAV_INPUT, 202, 7, 46, 8, 0, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_SEEK_MODE, 52, 38, 54, 42, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Seek mode", IDC_STATIC, 11, 40, 38, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_AUDIO_DELAY, 52, 71, 46, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Audio delay", IDC_STATIC, 11, 73, 39, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "samples", IDC_STATIC, 101, 73, 28, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_SCALER, 160, 38, 84, 108, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Video scaler", IDC_STATIC, 116, 40, 41, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Create Index file", IDC_CHECK_CREATE_INDEX_FILE, 136, 167, 70, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "A/V sync correction", IDC_CHECK_AV_SYNC, 11, 167, 79, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_CHANNEL_LAYOUT, 64, 88, 180, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    GROUPBOX        "", 0, 14, 104, 220, 57, 0, WS_EX_LEFT
    LTEXT           "Channel layout", IDC_STATIC, 11, 90, 49, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Mix level", IDC_STATIC, 11, 104, 29, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Center", IDC_STATIC, 19, 116, 23, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Surround", IDC_STATIC, 19, 131, 31, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "LFE", IDC_STATIC, 19, 146, 12, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_CENTER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 114, 160, 15, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_SURROUND, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 129, 160, 15, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_LFE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 144, 160, 15, WS_EX_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_CENTER, 214, 116, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_SURROUND, 214, 131, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "0.00", IDC_TEXT_MIX_LEVEL_LFE, 214, 146, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Sampling rate", IDC_STATIC, 140, 73, 47, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_SAMPLE_RATE, 189, 71, 44, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Hz", IDC_STATIC, 236, 73, 9, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Apply repeat flag", IDC_CHECK_APPLY_REPEAT_FLAG, 11, 57, 71, 8, 0, WS_EX_LEFT
    LTEXT           "Field dominance", IDC_STATIC, 102, 57, 54, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_FIELD_DOMINANCE, 160, 55, 84, 108, WS_TABSTOP | CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Version & License", IDC_TEXT_LIBRARY_INFO, 11, 302, 236, 30, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "LW48 output", IDC_CHECK_LW48_OUTPUT, 11, 209, 57, 8, 0, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_AVS_BITDEPTH, 206, 208, 32, 50, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "AVS bit-depth", IDC_STATIC, 145, 209, 46, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_PREFERRED_DECODERS, 20, 238, 224, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Preferred decoders", 0, 11, 228, 64, 9, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Use cache dir", IDC_CHECK_USE_CACHE_DIR, 11, 181, 79, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_CACHE_DIR_PATH, 20, 266, 224, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Cache directory path", 0, 11, 256, 128, 9, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Delete old cache", IDC_CHECK_DELETE_OLD_CACHE, 136, 181, 71, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_DELETE_OLD_CACHE_DAYS, 205, 179, 26, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "days", IDC_STATIC, 234, 181, 28, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Wide Dialog", IDC_CHECK_WIDE_DIALOG, 11, 195, 71, 8, 0, WS_EX_LEFT
}

/* Wide Dialog resources */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
LWINPUT_CONFIG_WIDE DIALOG 0, 0, 512, 205
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "L-SMASH Works File Reader settings"
FONT 10, "Tahoma"
{
    DEFPUSHBUTTON   "OK", IDOK, 391, 181, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 450, 181, 50, 14, 0, WS_EX_LEFT
    LTEXT           "threads", IDC_STATIC, 11, 23, 25, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_SPIN_THREADS, UPDOWN_CLASS, UDS_ARROWKEYS, 58, 21, 10, 12, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_THREADS, 38, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Forward threshold", IDC_STATIC, 78, 23, 61, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_FORWARD_THRESHOLD, 141, 21, 20, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_SPIN_FORWARD_THRESHOLD, UPDOWN_CLASS, UDS_ARROWKEYS, 161, 21, 10, 12, WS_EX_LEFT
    AUTOCHECKBOX    "Libav+L-SMASH", IDC_CHECK_LIBAVSMASH_INPUT, 11, 7, 64, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "AviSynth Script", IDC_CHECK_AVS_INPUT, 81, 7, 65, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "VSScript", IDC_CHECK_VPY_INPUT, 152, 7, 44, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "LW-Libav", IDC_CHECK_LIBAV_INPUT, 202, 7, 46, 8, 0, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_SEEK_MODE, 52, 38, 54, 42, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Seek mode", IDC_STATIC, 11, 40, 38, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_AUDIO_DELAY, 52, 71, 46, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Audio delay", IDC_STATIC, 11, 73, 39, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "samples", IDC_STATIC, 101, 73, 28, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_SCALER, 160, 38, 84, 108, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Video scaler", IDC_STATIC, 116, 40, 41, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Create Index file", IDC_CHECK_CREATE_INDEX_FILE, 392, 7, 70, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "A/V sync correction", IDC_CHECK_AV_SYNC, 267, 7, 79, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_CHANNEL_LAYOUT, 64, 88, 180, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    GROUPBOX        "", 0, 14, 104, 220, 57, 0, WS_EX_LEFT
    LTEXT           "Channel layout", IDC_STATIC, 11, 90, 49, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Mix level", IDC_STATIC, 11, 104, 29, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Center", IDC_STATIC, 19, 116, 23, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Surround", IDC_STATIC, 19, 131, 31, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "LFE", IDC_STATIC, 19, 146, 12, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_CENTER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 114, 160, 15, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_SURROUND, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 129, 160, 15, WS_EX_LEFT
    CONTROL         "", IDC_SLIDER_MIX_LEVEL_LFE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 52, 144, 160, 15, WS_EX_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_CENTER, 214, 116, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "0.71", IDC_TEXT_MIX_LEVEL_SURROUND, 214, 131, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "0.00", IDC_TEXT_MIX_LEVEL_LFE, 214, 146, 15, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Sampling rate", IDC_STATIC, 140, 73, 47, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_SAMPLE_RATE, 189, 71, 44, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Hz", IDC_STATIC, 236, 73, 9, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Apply repeat flag", IDC_CHECK_APPLY_REPEAT_FLAG, 11, 57, 71, 8, 0, WS_EX_LEFT
    LTEXT           "Field dominance", IDC_STATIC, 102, 57, 54, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_FIELD_DOMINANCE, 160, 55, 84, 108, WS_TABSTOP | CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Version & License", IDC_TEXT_LIBRARY_INFO, 11, 167, 236, 30, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "LW48 output", IDC_CHECK_LW48_OUTPUT, 267, 49, 57, 8, 0, WS_EX_LEFT
    COMBOBOX        IDC_COMBOBOX_AVS_BITDEPTH, 462, 48, 32, 50, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "AVS bit-depth", IDC_STATIC, 401, 49, 46, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_PREFERRED_DECODERS, 276, 121, 224, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Preferred decoders", 0, 267, 111, 64, 9, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Use cache dir", IDC_CHECK_USE_CACHE_DIR, 267, 21, 79, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_CACHE_DIR_PATH, 276, 149, 224, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Cache directory path", 0, 267, 139, 128, 9, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Delete old cache", IDC_CHECK_DELETE_OLD_CACHE, 392, 21, 71, 8, 0, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_DELETE_OLD_CACHE_DAYS, 461, 19, 26, 12, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "days", IDC_STATIC, 490, 21, 28, 8, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Wide Dialog", IDC_CHECK_WIDE_DIALOG, 267, 35, 71, 8, 0, WS_EX_LEFT
}


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_PROGRESS_ABORTABLE DIALOG 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "lwinput"
FONT 9, "Tahoma"
{
    PUSHBUTTON      "Cancel", IDCANCEL, 61, 57, 62, 20, 0, WS_EX_LEFT
    CONTROL         "", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 17, 34, 152, 17, WS_EX_LEFT
    LTEXT           "progress", IDC_PERCENT_TEXT, 19, 13, 150, 14, SS_LEFT, WS_EX_LEFT
}
